
:root {
    --color1: #EF0000;
    --color2: #FFEC44;
    --color3: #008AEE;
}

.formaweb{
  background-color: #FEFAE0;
}
/*cabecera*/
h1 {
  text-align: center;
}
img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display:block;
  margin: auto;
}
body{
  margin: 100px;
  background-color: #606C38;
}
nav{
  background-color: bisque;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
  width: 960px;
  height: 90px;
  text-align: center;
  padding:0px;
  }
nav ul{
  list-style: none;
  display: inline-block;
  padding:0px;
}
nav ul li{
  padding-inline: 30px;
  float: left;
  margin-top: 20px;
  }
nav ul li a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
nav ul li a:hover{
  background-color: #BC6C25;
}
h1{
  text-align: center;
  color: #FEFAE0;
}
.formul{
  background-color: bisque;
  width: 960px;
  margin: auto;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  margin-bottom: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
fieldset{
  background-color: #606C38;
  border-color: #606C38;
}